.row.statistics
  .col-12
    .page_title
      Statistics

-# the following structure is set up such that we can add linking capabilities for each statistic since it is difficult to
-# edit the javascript associated with this gem. We can "simulate" being able to find a movie this way by creating a page
-# that these specific statistics link to that will show the movies organized by their respective statistic. i.e. 'rating'
.row
  .col-4
    .statistics
      .title
        = link_to('Ratings','#')
      = link_to(pie_chart(Movie.group(:rating).count, legend: false), '#')
  .col-4
    .statistics
      .title
        = link_to('Directors','#')
      = link_to(pie_chart(Director.movie_counts, legend: false), '#')
  .col-4
    .statistics
      .title
        = link_to('Genres','#')
      = link_to(pie_chart(Genre.movie_counts, legend: false), '#')
  .col-4
    .statistics
      .title
        = link_to('Metascores','#')
      = link_to(pie_chart(Movie.metascore_counts, legend: false), '#')
  .col-4
    .statistics
      .title
        = link_to('Lengths','#')
      = link_to(pie_chart(Movie.movie_lengths, legend: false), '#')
  .col-4
    .statistics
      .title
        = link_to('Year','#')
      = link_to(pie_chart(Movie.release_dates, legend: false), '#')