.row
  - if @directors.empty?
    No directors to show.
  - else
    - @directors.each do |director|
      .director.col-md-2
        .poster
          = link_to poster_for_director(director), director
        .details
          = link_to director.name, director
