.row
  .col-12.col-md-3
    .director
      .poster
        = poster_for_director(@director)

      .title
        = @director.name

  .col-12.col-md-9
    - @movies.each do |movie|
      .row.movie
        .col-md-3
          .m-2
            = link_to poster_for(movie), movie
        .col-md-9
          .m-2
            .title
              .directors_page= link_to movie.display_name, movie
            = movie.plot





